$gray-200: #e9ecef !default;
$blue:    #007bff !default;

$nav-link-padding-y:                .5rem !default;
$nav-link-padding-x:                1rem !default;

$nav-pills-link-active-bg:          $blue !default;
