.header {
  .logo {
    width: 25px;
  }
}

.nav-border {
  .nav-link {
    padding: $nav-link-padding-y $nav-link-padding-x / 2;
    margin: 0 $nav-link-padding-x / 2;
  }

  .nav-link.active {
    border-bottom: solid 3px $nav-pills-link-active-bg;
  }
}

.nav.pull-left {
  .nav-link {
    padding-left: 0;
  }
}
