@import "variable";

/* reset */
li {
    list-style-position: inside;
}
/* end reset */

/* bugfix */
.dialog__content {
  .card__actions {
    align-items: flex-start;
  }
}

/* end bugfix */
.application.theme--light {
  background-color: #fff;
}

.logo-link {
  .logo {
    width: 25px;
  }
}

.nav-border {
  .nav-link {
    padding: $nav-link-padding-y $nav-link-padding-x / 2;
    margin: 0 $nav-link-padding-x / 2;
  }

  .nav-link.active {
    border-bottom: solid 3px $nav-pills-link-active-bg;
  }
}

.btn--bottom {
  &.bottom-2 {
    bottom: 90px !important;
  }
}

.fixed {
  position: fixed;
}
